body * {transition: all 0.3s;}
main {min-height: 100vh;}
main > .top {padding: 80px 360px;}
main > .top .container {
    max-width: 1200px;
    min-width: 320px;
    overflow: hidden;
}
main > .top .container h1 {font-size: 1.25rem; font-weight: 600; margin-bottom: 15px;}
main > .top .container .content_wrap {display: flex; flex-flow: row nowrap; justify-content: space-between; gap: 40px;}
main > .top .container .content_wrap .left {width: 460px; height: 527px; position: relative;}
main > .top .container .content_wrap .left a {}
main > .top .container .content_wrap .left a img {}
main > .top .container .content_wrap .left #like {
    position: absolute; top: 15px; right: 15px;
    width: 32px; height: 32px;
    background: rgb(0, 0, 0, 0.2); padding: 9px 5px; border-radius: 50px;
}
main > .top .container .content_wrap .left #like img {
    filter: invert(100%) sepia(96%) saturate(16%) hue-rotate(249deg) brightness(105%) contrast(104%);
    opacity: 50%;
    height: 14px;
}

main > .top .container .content_wrap .right {
    display: flex; flex-flow: column nowrap; justify-content: space-between;
    width: 699px; height: 527px;
}
main > .top .container .content_wrap .right > .top {width: max-content;}
main > .top .container .content_wrap .right > .top h2 {font-size: 1.5rem; font-weight: 600; margin-bottom: 15px;}
main > .top .container .content_wrap .right > .top p {font-size: 0.875rem;}
main > .top .container .content_wrap .right > .bottom {}
main > .top .container .content_wrap .right > .bottom .product_list {display: flex; flex-flow: row nowrap; justify-content: space-between; gap: 15px;}
main > .top .container .content_wrap .right > .bottom .product_list .product {width: calc(100% / 3); display: flex; flex-flow: column nowrap; justify-content: space-between; gap: 15px;}
main >.top .container .content_wrap .right > .bottom .product_list .product a {}
main > .top .container .content_wrap .right > .bottom .product_list .product a img {width: 100%;}

main > .top .container .content_wrap .right > .bottom .product_list .product .txt {display: flex; flex-flow: column nowrap; gap: 5px;}
main > .top .container .content_wrap .right > .bottom .product_list .product .txt * {font-size: 0.875rem; text-align: left;}
main > .top .container .content_wrap .right .bottom .product_list .product .txt > .store_name {display: flex; justify-content: space-between;}
main > .top .container .content_wrap .right .bottom .product_list .product .txt > .store_name a {font-weight: 500;}
main > .top .container .content_wrap .right .bottom .product_list .product .txt > .store_name #like {}
main > .top .container .content_wrap .right .bottom .product_list .product .txt > .store_name #like img {width: 12px;}
main > .top .container .content_wrap .right .bottom .product_list .product .txt > a {color: #aaa;}
main > .top .container .content_wrap .right .bottom .product_list .product .txt span:last-of-type {font-weight: 600;}
main > .top .container .content_wrap .right .bottom .product_list .product .txt span:last-of-type em {color: #FF0000; font-weight: 700;}

main > .bottom {padding: 80px 360px;}
main > .bottom .container {
    max-width: 1200px;
    min-width: 320px;
    overflow: hidden;
}
main > .bottom .container h1 {font-size: 1.25rem; font-weight: 600; margin-bottom: 15px;}
main > .bottom .container .product_list2 {
    display: flex; flex-flow: row nowrap; justify-content: space-between; gap: 6.8px;
}
main > .bottom .container .product_list2 .product {
    display: flex; flex-flow: column nowrap; justify-content: space-between; gap: 15px;
    width: calc(100% / 6);
}
main > .bottom .container .product_list2 .product a {}
main > .bottom .container .product_list2 .product a img {width: 100%;}
main > .bottom .container .product_list2 .product .txt {display: flex; flex-flow: column nowrap; gap: 5px;}
main > .bottom .container .product_list2 .product .txt * {font-size: 0.875rem;}
main > .bottom .container .product_list2 .product .txt .store_name {display: flex; justify-content: space-between;}
main > .bottom .container .product_list2 .product .txt .store_name a {font-weight: 500;}
main > .bottom .container .product_list2 .product .txt .store_name a #like {}
main > .bottom .container .product_list2 .product .txt .store_name #like img {width: 12px;}
main > .bottom .container .product_list2 .product .txt > a {color: #aaa;}
main > .bottom .container .product_list2 .product .txt span:last-of-type {width: 12px;}
main > .bottom .container .product_list2 .product .txt span:last-of-type {font-weight: 600;}
main > .bottom .container .product_list2 .product .txt span:last-of-type em {color: #FF0000; font-weight: 700;}